.form {
  max-width: 365px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  border-radius: 4px;
  padding: 15px 20px;
  display: block;
  margin: 8px 0 32px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #838383;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.form__label {
  font-weight: 500;
}

.form__button {
  border-radius: 4px;
  background-color: #1878dc;
  transition-property: background-color;
  transition-duration: 1s;
  padding: 20px 0 20px;
  border: none;
  width: 100%;
  margin-bottom: 32px;
  font-weight: 500;
  color: #fff;
}

.form__button:hover,
.form__button:focus {
  background-color: #3f96f3;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
}
