.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 215px;
  color: #ffffff;
}

.recipes__title {
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  padding-left: 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  max-width: 438px;
  margin: 24px 0 0;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px;
}

.recipes__videos {
  display: flex;
  list-style-type: none;
  gap: 40px;
  justify-content: center;
  margin: 80px 0 0;
  padding: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-top: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}
